---
import EditableContent from '@shared/ui/editable-content/EditableContent.astro'
import Icon from '@shared/ui/icon/Icon.astro'
import Text from '@shared/ui/text/Text.astro'
import Title from '@shared/ui/title/Title.astro'

interface Props {
  class?: string
}

const { class: className, ...props } = Astro.props as Props

const info = [
  {
    category: 'ะะฑัะฐะทะพะฒะฐะฝะธะต',
    items: [
      {
        title: 'ะะพัะพะฝะตะถัะบะธะน ะะพััะดะฐัััะฒะตะฝะฝัะน ะฃะฝะธะฒะตััะธัะตั ะะฝะถะตะฝะตัะฝัั ะขะตัะฝะพะปะพะณะธะน',
        subtitle: 'ะะฝัะพัะผะฐัะธะพะฝะฝัะต ัะธััะตะผั ะธ ัะตัะฝะพะปะพะณะธะธ',
        years: '2017-2021'
      }
    ]
  },
  {
    category: 'ะะฐััะตัะฐ',
    items: [
      {
        title: "D'Terra",
        subtitle: 'Backend-ัะฐะทัะฐะฑะพััะธะบ',
        years: '2020-2021'
      },
      {
        title: "D'Terra / ะะปะฐัะดะผะธะป",
        subtitle: 'Frontend-ัะฐะทัะฐะฑะพััะธะบ',
        years: '2021'
      },
      {
        title: 'ะขะตะปะตัะตะนะปะท-ัะตัะฒะธั',
        subtitle: 'ะะฝะฐะปะธัะธะบ ะดะฐะฝะฝัั',
        years: '2023'
      },
      {
        title: 'ะขะตะปะตัะตะนะปะท-ัะตัะฒะธั',
        subtitle: 'Frontend-ัะฐะทัะฐะฑะพััะธะบ',
        years: '2023-2024'
      },
      {
        title: 'ะะปะฐัะดะผะธะป',
        subtitle: 'Frontend-ัะฐะทัะฐะฑะพััะธะบ',
        years: '2024-...'
      }
    ]
  }
]

const skills = [
  'HTML',
  'Pug',
  'CSS',
  'Scss',
  'FSD',
  'JavaScript',
  'TypeScript',
  'SOLID',
  'Astro',
  'React',
  'Redux',
  'Vite',
  'REST API',
  'BEM',
  'Tailwind CSS',
  'Material UI',
  'Ant Design',
  'GSAP'
]

export { Info }
---

<div
  class:list={['info', className]}
  {...props}
>
  <EditableContent class="desktop:max-w-[690px]">
    <p>
      ะัะธะฒะตั! ะะตะฝั ะทะพะฒัั ะะฝะดัะตะน, ะธยัยะทะฐะฝะธะผะฐััั ััะพะฝัะตะฝะด-ัะฐะทัะฐะฑะพัะบะพะน ัะถะต ะพะบะพะปะพ 3ยะปะตั(ะตัะปะธ ััะธัะฐัั
      ะธะผะตะฝะฝะพ ะบะพัะฟะพัะฐัะธะฒะฝัะน ะพะฟัั). ะะฐะทัะฐะฑะพัะบะฐ ะผะตะฝั ะฒะดะพัะฝะพะฒะปัะตั, ะธยัยะฟะพััะพัะฝะฝะพ ัััะตะผะปััั
      ะบยัะพะฒะตััะตะฝััะฒะพะฒะฐะฝะธั ัะฒะพะธั ัะฐัะด ะธยัะพัั ัะบะธะปะพะฒ.
    </p>
    <br />
    <p>
      ะฏ ะฒะตัั, ััะพ ะปัััะธะน ะบะพะด -ยััะพยะฝะตยะฟัะพััะพ ัะฐะฑะพัะฐััะธะน, ะฐ ะฟะพะฝััะฝัะน ะธยะปะตะณะบะพ ะฟะพะดะดะตัะถะธะฒะฐะตะผัะน. ะฃะฒะตัะตะฝ,
      ััะพยะฒะฝะธะผะฐะฝะธะต ะบยะดะตัะฐะปัะผ ะธยัะผะตะฝะธะต ะฒะธะดะตัั ะฟัะพะตะบั ะณะปะฐะทะฐะผะธ ะฟะพะปัะทะพะฒะฐัะตะปั -ยะทะฐะปะพะณ ััะฟะตัะฝะพะณะพ ะฟัะพะดัะบัะฐ.
      ะยัะฐะทัะฐะฑะพัะบะต ัยะพัะธะตะฝัะธััััั ะฝะตยัะพะปัะบะพ ะฝะฐยัะตัะฝะธัะตัะบะธะต ััะตะฑะพะฒะฐะฝะธั, ะฝะพยะธยะฝะฐยัะดะพะฑััะฒะพ, ัััะตัะธะบั
      ะธยะฒะทะฐะธะผะพะดะตะนััะฒะธะต.
    </p>
    <br />

    <h2>ะคะฐะบัั ะพะฑะพยะผะฝะต, ะบะพัะพััะต ะผะพะณัั ะฑััั ะธะฝัะตัะตัะฝัะผะธ:</h2>
    <br />

    <ul>
      <li class="before:!content-['๐']">
        ะกะฐะผะพััะพััะตะปัะฝะพ ัะตะฐะปะธะทะพะฒะฐะป ะฝะตัะบะพะปัะบะพ ะบััะฟะฝัั ะฟัะพะตะบัะพะฒ ะพัยะดะธะทะฐะนะฝะฐ ะดะพยะฟะตัะตะดะฐัะธ ะฝะฐยะฑะตะบะตะฝะด
      </li>
      <li class="before:!content-['๐']">
        ะะฐยัะตะบััะตะผ ะผะตััะต ัะฐะฑะพัั ะพะฟัะธะผะธะทะธัะพะฒะฐะป ะฟัะพัะตััั, ััะพยัะพะบัะฐัะธะปะพ ะฒัะตะผั ัะฐะทัะฐะฑะพัะบะธ ะฟะพััะธยะฒะดะฒะพะต
      </li>
      <li class="before:!content-['๐จโ๐ป']">
        ะัะพะฒะพะดะธะป ะพะฝะฑะพัะดะธะฝะณ ะธ ะผะตะฝัะพัะธะป ะฝะพะฒัั ัะพัััะดะฝะธะบะพะฒ. ะกะธััะตะผะฐัะธัะตัะบะธ ะฟัะพะฒะพะถั code reviewยะธยะดะฐั
        ะพะฑัะฐัะฝัั ัะฒัะทั ะฟะพยะบะพะดั
      </li>
      <li class="before:!content-['โก']">
        ะะฐะฝะธะผะฐะป ััะบะพะฒะพะดััะธะต ะดะพะปะถะฝะพััะธ ะฝะฐยะดััะณะธั ัะฐะฑะพัะฐั. ะกะตะนัะฐั ััะบะพะฒะพะถั ะฝะตัะบะพะปัะบะธะผะธ ะฟัะพะตะบัะฐะผะธ:
        ะฟัะพะฒะพะถั ะฐะฝะฐะปะธัะธะบั, ะฟะปะฐะฝะธััั ะธยัะฟัะฐะฒะปัั ัะฐะทัะฐะฑะพัะบะพะน
      </li>
      <li class="before:!content-['โจ']">
        ะัะพัะพะดะธะป ะบัััั ะฒะตะฑ-ะดะธะทะฐะนะฝะฐ. ะขะตะฟะตัั ััะพ ัะธะปัะฝะพ ะฟะพะผะพะณะฐะตั ะฒยะฒััััะบะต ะธยะฟะพะฝะธะผะฐะฝะธะธยะผะฐะบะตัะฐ
      </li>
    </ul>
    <br />

    <h2>ะะตะฐะปะธะทะพะฒะฐะฝะฝัะต ะฟัะพะตะบัั ะธยััะฐััะธะต ะฒยัะฐะทัะฐะฑะพัะบะต:</h2>
    <br />

    <ol>
      <li>
        <p>
          <a
            href="https://hoobs.ru/"
            target="_blank"
            >Hoobs</a
          >ยโยะัะพัะตััะธะพะฝะฐะปัะฝะพะต ะพะฑะพััะดะพะฒะฐะฝะธะต ะดะปัยัะตะฟะปะพ-ยะธยะฒะพะดะพัะฝะฐะฑะถะตะฝะธั. <span
            class="block w-full text-nowrap text-secondary">Pugย|ยScssย|ยJS</span
          >
        </p>
      </li>

      <li>
        <p>
          <a
            href="https://www.utlc.com/"
            target="_blank"
            >UTLC</a
          >ยโยะะฟะตัะฐัะพั ะถะตะปะตะทะฝะพะดะพัะพะถะฝัั ััะฐะฝะทะธัะฝัั ัะตัะฒะธัะพะฒ ะผะตะถะดั ะะธัะฐะตะผ ะธยะะฒัะพะฟะพะน <span
            class="block w-full text-nowrap text-secondary">Pugย|ยScssย|ยJS</span
          >
        </p>
      </li>

      <li>
        <p>
          <a
            href="https://workspace.ru/cases/kurgan-emi/?agency=cloudmill"
            target="_blank"
            >ะััะณะฐะฝยะญะะ (ะตััยะฝะตยะฒััะตะป ะฒยะฟัะพะดะฐะบัะฝ)</a
          >ยโยะัะพะธะทะฒะพะดะธัะตะปั ะบะฐะฑะตะปะตะฝะตัััะธั ัะธััะตะผ<span
            class="block w-full text-nowrap text-secondary">Pugย|ยScssย|ยTailwindย|ยGSAPย|ยJS</span
          >
        </p>
      </li>

      <li>
        <p>
          <a
            href="https://www.cnprussia.ru/"
            target="_blank"
            >CNP</a
          >ยโยะะดะธะฝ ะธะทยะฒะตะดััะธั ะฟะพััะฐะฒัะธะบะพะฒ ะฝะฐัะพัะฝะพะณะพ ะพะฑะพััะดะพะฒะฐะฝะธั ะฝะฐยััะฝะบะตยะะค <span
            class="block w-full text-nowrap text-secondary">Pugย|ยScssย|ยJS</span
          >
        </p>
      </li>

      <li>
        <p>
          <a
            href="https://www.cnprussia.ru/"
            target="_blank"
            >CNP -ยะฟัะพะณัะฐะผะผะฐ ะฟะพะดะฑะพัะฐ (ะฒยัะฐะทัะฐะฑะพัะบะต)</a
          >ยโยะัะพะณัะฐะผะผะฐ ะฟะพะดะฑะพัะฐ ะฝะฐัะพัะฝะพะณะพ ะพะฑะพััะดะพะฒะฐะฝะธั ะฟะพยะทะฐะดะฐะฝะฝัะผ ะฟะฐัะฐะผะตััะฐะผ<span
            class="block w-full text-nowrap text-secondary"
            >Reactย|ยReduxย|ยTypeScriptย|ยChart.js</span
          >
        </p>
      </li>

      <li>
        <p>
          <a
            href="https://allenbrau.ru/"
            target="_blank"
            >Allen Brau</a
          >ยโยะัะตะผะธะฐะปัะฝัะน ะผะฐะณะฐะทะธะฝ ัะฐะฝัะตัะฝะธะบะธ ะธยะผะตะฑะตะปะธ ะดะปัยะฒะฐะฝะฝัั ะบะพะผะฝะฐั<span
            class="block w-full text-nowrap text-secondary">Pugย|ยScssย|ยJS</span
          >
        </p>
      </li>

      <li>
        <p>
          <a
            href="https://lup.ru/"
            target="_blank"
            >LUP</a
          >ยโยะญะบะพัะธััะตะผะฐ ะธะฝัะปัะตะฝั-ะผะฐัะบะตัะธะฝะณ ัะตัะตะฝะธะน ะดะปั ะฑะธะทะฝะตัะฐ<span
            class="block w-full text-nowrap text-secondary">Pugย|ยScssย|ยGSAPย|ยJS</span
          >
        </p>
      </li>

      <li>
        <p>
          <a
            href="https://icecream-chl.ru/"
            target="_blank"
            >ะงะธััะฐั ะปะธะฝะธั</a
          >ยโยะัะพะธะทะฒะพะดะธัะตะปั ะผะพัะพะถะตะฝะพะณะพ ะธ ะผะพะปะพัะฝะพะน ะฟัะพะดัะบัะธะธ<span
            class="block w-full text-nowrap text-secondary">Pugย|ยScssย|ยJS</span
          >
        </p>
      </li>

      <li>
        <p>
          <span class="font-bold">Master House (ะตัั ะฝะต ะฒััะตะป ะฒยะฟัะพะดะฐะบัะฝ)</span>ยโยะะฐะณะฐะทะธะฝ ัะพะฒะฐัะพะฒ
          ะดะปั ะดะพะผะฐ<span class="block w-full text-nowrap text-secondary"
            >Astroย|ยScssย|ยTailwindย|ยGSAPย|ยTS</span
          >
        </p>
      </li>

      <li>
        <p>
          <span class="font-bold">ะกะ ะะตัะฐ (ะฒ ัะฐะทัะฐะฑะพัะบะต)</span>ยโยะกััะพะธัะตะปัััะฒะพ ะทะฐะณะพัะพะดะฝัั ะดะพะผะพะฒ ะธ
          ะบะพััะตะดะถะตะน ะฟะพะด ะบะปัั ะฒ ะกะะฑ<span class="block w-full text-nowrap text-secondary"
            >Astroย|ยScssย|ยTailwindย|ยTS</span
          >
        </p>
      </li>
    </ol>
  </EditableContent>

  <section class="info__content">
    <Icon
      name="decor"
      class="info__content-decor"
    />
    {
      info.map(({ category, items }) => (
        <div class="info__item">
          <Title
            class="info__item-title"
            size="16"
          >
            {category}
          </Title>

          <ul class="info__item-list">
            {items.map(({ title, subtitle, years }) => (
              <li>
                <dl class="flex flex-col">
                  <Text as="dt">{title}</Text>
                  <Text
                    as="dd"
                    color="gray"
                  >
                    {subtitle}
                  </Text>
                  <Text
                    as="dd"
                    color="gray"
                  >
                    {years}
                  </Text>
                </dl>
              </li>
            ))}
          </ul>
        </div>
      ))
    }

    <div class="info__item">
      <Title
        class="info__item-title"
        size="16"
      >
        ะะฐะฒัะบะธ
      </Title>

      <ul class="flex flex-wrap gap-x-8 gap-y-4 devices:gap-x-4 devices:gap-y-2">
        {skills.map(skill => <Text as="li">{skill}</Text>)}
      </ul>
    </div>
  </section>
</div>

<style>
  @import './info.scss';
</style>
